@import 'bootstrap/variables'

$branding:              #2962FF
$branding-color-dark:   #00004f
$branding-color-light:  #18227c
$hook-color:            #FF6742
$suggestions:           #5DAC0C

/* Default bootsrap grey */
$borders: #dddddd

/* Override bootstrap default colors */
$brand-primary: #2962FF
$green:         #27ae60
$red:           #c0392b
$yellow:        #f1c40f
$orange:        #e67e22
$gray:          #95a5a6

/* Custom colors */
$branding-dark: #2f2f2f
$light-grey:    #eaeaea
$wrapper-bg:    #fafafc
