.active-filter-button
    a
        color: #fff!important

#navmap
    float: left
    width: 12%
    height: 100vh
    background: $dark
    z-index: 99999

    #places-kind-filters

        .filter-button
            padding: .5em 1.4em
            line-height: 1em

            &:first-child
                padding-top: 1em

            a

                font-size: .74em
                color: lighten($dark, 60%)
                cursor: pointer
                font-weight: 700
                text-decoration: none

                &:hover, &:active
                    color: #fff
                    text-decoration: none

    #logo-nav-map
        position: absolute
        bottom: 0
        margin: 0 0 2% 1.5%
        width: 9%
        +flexbox
        +alignitems-center

        img
            max-width: 65px
            margin-right: 10%

        .year
            font-size: .6em
            color: lighten($dark, 50%)
