.iw-content-wrapper
    color: #fff

    .iw-desc
        font-weight: 400
        line-height: 1.4em

        p, span
            word-wrap: break-word

    .iw-contact-info
        margin: 3% 0

        a, span
            color: lighten($dark, 55%)

        a:hover
            color: lighten($dark, 80%)
            text-decoration: none

        hr
            border-bottom: 1px solid lighten($dark, 25%)
            border-top: none
            margin: 3% 0

    .iw-artist-name > .artist-name
        font-size: 1.2em
        color: lighten($dark, 70%)!important

    .iw-location
        font-size: .9em

    .iw-picture
        img
            object-fit: cover
            position: relative
            width: 100%
            height: 190px
