#black-overlay
    width: 100%
    height: 100vh
    background: #fff
    position: absolute
    z-index: 9999999

#welcome-overlay
    position: absolute
    z-index: 99999999
    height: 100vh
    width: 100%
    background: #fff
    +flexbox
    +alignitems-center
    +justifycontent-center

    .home-bg
        height: 100vh
        width: 100%
        position: absolute
        z-index: -9999
        transition: 1s

        &:before
            content: ''
            position: absolute
            width: 100%
            height: 100vh
            z-index: -1
            background-image: url(home-bg-min.jpg)
            background-position: -200px 0, 0 -25px

        .layer
            position: absolute
            width: 33.333333%
            background: #fff
            height: 0
            transition: 1s

        .layer1
            float: left

        .layer2
            left: 33.333333%

        .layer3
            float: right
            position: relative

    .overlay-container
        width: 30%

        .places-index-intro
            margin-left: -1200px

        h1,h2,h3,h4,h5,p
            font-family: $serif-font!important

        h4
            margin-top: 9%
        .text-intro
            padding: .3em 0 0
            height: 70px

        .logo-welcome
            width: 80px
            margin-bottom: 6%

        #close-welcome-btn
            margin-left: -1200px

        #close-welcome-btn, #welcome-btn
            border-radius: .2em
            width: 60px
            height: 30px
            background: $dark
            cursor: pointer
            color: #fff
            font-size: .9em
            padding: .4em .7em

            span, a
                color: #fff
                font-size: .9em
                text-decoration: none

            &:hover
                background: lighten($dark, 20%)
                text-decoration: none
