#places-kind-filters
  - kinds_collection.each do |label, kind|
    = link_to "#{label}", {controller: 'places', action: 'filters'}, id: "#{kind}", class: "filter-button", method: :post, remote: true
    br

