<div class='iw-container place'>
  <h3 class='iw-title'><%= place.name %></h3>
  <div class='iw-place'>
    <div>
      <div>
        <p><%#= info_window_decription(place) %></p>
      </div>
    </div>
    </div>
  </div>
</div>
